.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 170px;

    z-index: 10;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 55px;
    font-size: 20px;

}

.navbar h2 {
    cursor: pointer;
}

.nav-connect {
    padding: 15px 35px;
    border-radius: 50px;
    background: linear-gradient(267deg, rgb(234, 66, 15) 0.36%, rgb(153, 27, 249) 102.06%);
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.1);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;

}

.anchor-link {
    text-decoration: none;
    color: white;

}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

/* break point */
@media (max-width:768px) {
    .navbar {
        margin: 20px 20px;

    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background: rgb(2, 0, 36);
        background: linear-gradient(173deg, rgba(2, 0, 36, 1) 0%, rgba(133, 19, 145, 1) 100%);
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 20px;
        margin-top: 10px;

        padding-left: 50px;
        flex-direction: row;
        gap: 20px;

    }
}